
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Crackmes.de - Welcome to the longest running and most complete Crackmes web page on the internet.</title>
  <meta name="keywords" content="crackme, crackmes, reverseme, reversemes, keygenme, keygenmes, ethical hacking, cracking, reversing, reverse engineering, reverse code engineering, crack, hack, crackz, hackz">
  <meta name="description" content="Crackmes.de - Welcome to the longest running and most complete Crackmes web page on the internet.">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  <link rel="stylesheet" href="/c2005080x.css" type="text/css" media="all" />
  <link rel="alternate" type="application/rss+xml" title="crackmes.de full RSS feed" href="/rss/" />
  <link rel="alternate" type="application/rss+xml" title="crackmes.de RSS feed without solutions" href="/rss-no-solutions/" />
  <script type="text/javascript" src="/fw.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67455600-2', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

</head>

<body></body>
</html>